<launch>
 <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch"/>

  <!-- ORB_SLAM2 RGBD -->
  <node pkg="floatlazer_orb_slam2" type="slam_rgbd" name="SLAM_RGBD" output="screen" args="$(find floatlazer_orb_slam2)../../../Vocabulary/ORBvoc.txt $(find floatlazer_semantic_slam)/params/xtion.yaml">
     <remap from="/camera/rgb/image_raw" to="/kinect2/qhd/image_color_rect" />
     <remap from="/camera/depth_registered/image_raw" to="/kinect2/qhd/image_depth_rect" />
  </node>

</launch>
